{% extends "base.html" %}
{% block title %}Add photo to album{% endblock %}
{% block header %}Add photo to album{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Add photo</div>
            <div class="card-body">
                <div class="container pt-5">
                <form method="post" enctype="multipart/form-data" action="{% url 'add_photo' user.username album_id %}">
                    {% csrf_token %}
                    {% load css_filters %}
                    {% for error in form.errors.values %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {% for field in form %}
                        <div class="form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                        <label>{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                            <div class="col-md-auto">
                            {{ field|addclass:"form-control" }}
                                {% if field.help_text %}
                                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                {% endif %}
                            </div>
                         </div>
                    {% endfor %}
                    <p>Most common tags: 
                        {% for tag in common_tags %}
                            <a class="badge badge-dark"><span style="color: white;">{{tag}}</span></a>
                        {% endfor %}
                        </p>
                    <div class="col-md-6 offset-md-4">              
                        <button type="submit" class="btn btn-primary">Submit</button>                      
                    </div>
                </form>
            </div>
            </div> 
        </div> 
    </div> 
</div>
{% endblock %}