{% extends 'base.html' %}
{% block title %} {{ creator.username }}'s albums {% endblock %}
{% block header %} {% endblock %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ creator.username }}'s albums</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}



    <div class="container">
        <div class="row">
            {% if paginator.count is 0 %}
            {% if user == creator %}
            <h1>You don't have any albums yet. Create one.</h1>
            
            <div class="col-md-4">
                <a href="{% url 'new_album' user.username %}"><div class="card mb-4 ">
                    <div class="card-body align-self-center" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>    
                    </div>
            </div></a>
            </div>
            {% else %}
            <h1>{{ creator.username }} doesn't have any albums yet.</h1>
            {% endif %}
            {% endif %}
            {% for album in page %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body" >
                        <h5 class="card-title">{{ album.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ album.date }}</h6>
                            <p class="card-text">{{ album.description }}</p>
                                <a href="{{ album.get_absolute_url }}" class="card-link">Open</a>
                                {% if user == creator %}
                                <a href="{% url 'add_photo' album.creator.username album.id %}" class="card-link">Add photo</a>
                                <a href="{% url 'edit_album' album.creator.username album.id %}" class="card-link">Edit</a>
                                <a href="{% url 'delete_album' album.creator.username album.id %}" class="card-link"><span style="color: red;">Delete</span></a>
                                {% endif %}
                    </div>  
                </div>
            </div>
            {% endfor %}
        </div>
        {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
        {% endif %}
        </div>
    
    
{% endblock %}