{% extends 'base.html' %}
{% block title %} {{ photo.creator.username }}'s album {% endblock %}
{% block header %} 
{% endblock %}
{% block breadcrumbs %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'all_albums' photo.creator %}">{{ photo.creator.username }}'s albums</a></li>
        <li class="breadcrumb-item"><a href="{% url 'one_album' photo.creator album.id %}">{{ album.title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ photo.id }}</li>
    </ol>
</nav>
{% endblock %}
{% block content %}
{% load static %}
    <div class="container align-items-center">
        <div class="row justify-content-around">
            <div class="align-self-start">
                <a id="previous_photo"
                   class="btn btn-outline btn-lg"
                   href="{% url 'get_photo'  photo.creator.username album.id prev.id%}"
                   role="button">
                   <span><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16"><path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/></svg></span>
                </a>
            </div>
            <div class="col-auto">

                <div class="card shadow-sm">

                    {% load thumbnail %}
                    {% thumbnail photo.photo "800x600" crop="center" upscale=True as im %}
                    <img class="card-img-top" src="{{ im.url }}" />
                    {% endthumbnail %}
                    {% if tags %}
                    <p>Photo tags: 
                        {% for tag in tags %}
                            <a class="badge badge-dark" href="{% url 'search'%}?q={{ tag }}"><span style="color: white;">{{ tag }}</span></a>
                        {% endfor %}
                        </p>
                    {% endif %}
                        <div class="card-body" >
                            <p class="card-text">{{ photo.description }}</p>
                        <div class="d-flex justify-content-between">
                            {% load humanize %}
                            <p>{{ photo.date | naturalday }}</p>
                            <p><a id="like-counter">{{ photo.total_likes }}</a> likes</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            {% if user == photo.creator %}
                            <div class="btn-group">
                                <a class="btn btn-outline-dark btn-lg" href="{% url 'edit_photo' photo.creator.username album.id photo.id %}" role="button">Edit</a>
                                <a class="btn btn-outline-danger btn-lg" href="{% url 'delete_photo' photo.creator.username album.id photo.id %}" role="button">Delete</a>
                            </div>
                            {% else %}
                                <a  href="{% url 'profile' photo.creator.username %}">@{{ photo.creator }}</a>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <button class="btn btn-outline" id="like-button">   
                                {% if liked %}
                            <a
                            style="color: red"
                            id="like"
                          >
                            Dislike</a
                          >
                          {% else %}
                          <a
                            style="color: green"
                            id="like"
                          >
                            Like</a
                          >
                          {% endif %}
                          {% endif %}
                        </button>
                        </div>
                        </div>
                </div>
                    <div class="col">
                    {% include 'albums/add_comment.html' with photo=photo album_id=album.id %}
                    </div>

                </div>
        <div class="align-self-start">
            <a id="next_photo"
               class="btn btn-outline btn-lg"
               href="{% url 'get_photo' photo.creator.username album.id next.id %}"
               role="button">
               <span><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16"><path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/></svg></span>
            </a>
            </div>
            </div>

    </div>
{% endblock %}

{% block js %}
<script> 
document.onkeydown = function getNext(key){
    var previous = document.querySelector('#previous_photo');
    var next = document.querySelector('#next_photo');   
    
    switch (key.which) {
        case 37:
            previous.click();
            break;
        case 39:
            next.click();
            break;
        default: return;
    }
}
</script>

{% if user.is_authenticated %}
<script>

var handleLike = () => {
    $.ajax({
    type: 'GET',
    url: "{% url 'like' user.username photo.id %}",
    
    success: function (response) {
        console.log(response)
        if (response.liked) {
            
  $('#like').html("Like");
  $('#like').css("color", "green");
  $('#like-counter').html(response.num_likes-1);
} else {
  $('#like').html("Dislike");
  $('#like').css("color", "red");
  $('#like-counter').html(response.num_likes+1);
}       
    },
    error: function (error) {
        console.log(error);
    }
});
};

document.getElementById("like-button").addEventListener('click', ()=>{handleLike()})
</script>
{% endif %}
{% endblock %}