<div class="col-lg-4">
                <div class="card shadow-sm">
                    {% load thumbnail %}
                    {% thumbnail photo.photo "348x225" crop="center" upscale=True as im %}
                    <img class="card-img-top" src="{{ im.url }}" />
                    {% endthumbnail %}
                        <div class="card-body" >
                            <p class="card-text">{{ photo.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            {% load humanize %}
                            <small class="text-muted"> {{ photo.date | naturaltime }} </small>
                            <small class="text-muted"> {{ photo.comments.count }} comments</small>
                            <small class="text-muted"> {{photo.total_likes}} likes</small>
                            <div class="btn-group">
                                <a class="btn btn-outline-secondary btn-sm" href="{% url 'get_album_photo' photo.creator.username album_id photo.id %}" role="button">View</a>
                            {% if user == photo.creator %}
                                <a class="btn btn-outline-secondary btn-sm" href="#" role="button">Edit</a>
                            {% endif %}
                            </div>
                        </div>
                        </div>
                </div>
</div>