{% extends "base.html" %}
{% block title %}{{user.username}}'s profile{% endblock %}
{% block header %}
<style>
    img {
      border-radius: 50%;
    }
</style>
{% endblock %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ profile.username }}</li>
    </ol>
</nav>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-8">
            <div class="card shadow-sm">
            <div class="align-self-sm-center">
                <h1><strong> {{ profile.username }}'s profile </strong></h1>
            </div>
            <div class="row">
                <div class="col-8">   
                <div class="card-body justify-content-start">
                    <p>First name: {{ profile.first_name }}</p>
                    <p>Last name: {{ profile.last_name }}</p>
                    <p>Username: {{ profile.username }}</p>
                    <p>Date of registration: {{ profile.date_joined }}</p>
                    <p>Followers: <a id="follow-counter" href="{% url 'followers' profile.username %}">{{ profile.followers.count }}</a></p>
                    <p>Follows: <a href="{% url 'follows' profile.username %}">{{ profile.follows.count }}</a></p>
                    <p>Albums: <a href="{% url 'all_albums' profile.username %}">{{profile.albums.count}}</a></p>
                    <p>Total likes: {{ profile.likes.count }}</p>
                    {% if profile == user %}
                                <a class="btn btn-outline-dark btn-lg" href="{% url 'edit_profile' profile.username %}" role="button">Edit</a>
                    {% else %}
                        {% if user.is_authenticated %}
                        <button class="btn btn-lg btn-outline-secondary" id="follow-button">   
                            {% if following %}        
                        <a id="follow">Unfollow</a>
                            {% else %}        
                        <a id="follow">Follow</a>                
                            {% endif %}
                        </button> 
                        {% endif %}
                    {% endif %}
                </div>
                </div>
                <div class="col-3">
                                {% load thumbnail %}
                                {% thumbnail profile.avatar "200x200" crop='center' as im %}
                                    <img class="img" src="{{ im.url }}" alt="avatar"/>
                                {% endthumbnail %}
                </div>
                </div>
                
                
            </div>


                    </div>
            </div>
    </div>
</div>
<script defer>

    var handleFollow = () => {
            $.ajax({
            type: 'GET',
            url: "{% url 'follow' profile.username %}",
            
            success: function (response) {
                console.log(response)
                if (response.following) {     
          $('#follow').html("Unfollow");
          $('#follow-counter').html(response.followers_counter);
        } else {
          $('#follow').html("Follow");
          $('#follow-counter').html(response.followers_counter);
        }       
            },
            error: function (error) {
                console.log(error);
            }
        });
    };
    
    document.getElementById("follow-button").addEventListener('click', ()=>{
        handleFollow()})
</script>
{% endblock %}