{% extends 'base.html' %}
{% block title %} Photokeeper {% endblock %}

    
{% block header %} Welcome to Photokeeper! {% endblock %}

{% block content %}

 {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for message in messages %}
            {{ message.message }}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<div class="jumbotron-fluid">

    <div class="container-fluid">
    <!-- {% include 'albums/news.html' %} -->
        {% if user.is_authenticated %}
            <div class="row justify-content-md-center">
                <h3><p>Photokeeper is a web-application for organizing albums.
                You can store your precious photos in albums, add description, tags,
                search for other user albums, like their photos and be liked back.<p>
                <p>It is a learning project so any feedback would be appreciated.</p></h3>
                <div class="row">
                    <div class="col-md-4-2">
                        <a href="{% url 'new_album' user.username %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create new album</a>
                    </div>
                    <div class="col-md-auto"></div>
                    <div class="col-md-4-2">
                        <a href="{% url 'all_albums' user.username %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">My albums</a>
                    </div>
                </div>
            </div>
        {% else %}

            <div class="row">
                <h3>Photokeeper is a web-application for organizing albums. Please sign-in to continue.</h3>
                <h3>If you don't have an account, please, feel free to sign-up :)</h3>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Log in</a>
                </div>
            <div class="col-md-auto"></div>
                <div class="col col-lg-2">
                    <a href="{% url 'sign_up' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sign up</a>
                </div>
            </div>
        {% endif %}
        
    </div>
</div>    
    



{% endblock %}