{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block header %}Search results{% endblock %}
{% block content %}
{% load humanize %}
{% load el_pagination_tags %}
<h2> Users: </h2>
    {% if users %}
    <div class="endless_page_template">
    {% include 'search_users.html' %}
    </div>  
    {% else %}
        <p> No results </p>
    {% endif %}
<h2> Albums: </h2>
    {% if albums %}
    <div class="endless_page_template">
        {% include 'search_albums.html' %}
    </div>  
    {% else %}
    <p>No results</p> </br>
    {% endif %}
<h2> Photos: </h2>
    {% if photos %}
    <div class="endless_page_template">
        {% include 'search_photos.html' %}
    </div>
    {% else %}
    <p>No results</p>
    {% endif %}
{% endblock %}
{% block js %}
    {% load static %}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}
