{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block header %}Search results{% endblock %}
{% block content %}
{% load humanize %}

<h2> Users: </h2>
    {% if users %}
    <ul class="list-group list-group-flush">  
            {% for user in users %}
            <li class="list-group-item">
                Username: <a href="{{ user.get_absolute_url }}">{{ user.username }}</a> </br>
                Date joined: {{ user.date_joined | naturalday }} </br> 
                Albums: <a href="{% url 'all_albums' user.username %}"> {{ user.albums.count }}</a>
            </li>
        </br>
        {% endfor %}
        </ul>
    {% else %}
        <p> No results </p>
    {% endif %}
<h2> Albums: </h2>
    {% if albums %}
    <ul class="list-group list-group-flush">    
        {% for album in albums %}
        <li class="list-group-item">  
                Title: <a href="{% url 'one_album' user.username album.id %}">{{ album.title }}</a> </br>
                Username:<a href="{% url 'profile' user.username %}">{{ album.creator.username }}</a> </br>
                Publiction date: {{ album.date | naturalday }} </br>
                Number of photos: {{ album.photos.count }} 
            
        </br>
        </li> 
        {% endfor %}
    </ul>   
    {% else %}
    <p>No results</p> </br>
    {% endif %}
<h2> Photos: </h2>

    {% if photos %}
    <ul class="list-group list-group-flush">   
        {% for photo in photos %}
        <li class="list-group-item"> 
         {% load thumbnail %}
                    {% thumbnail photo.photo "400x200" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            </br>
                Description: {{ photo.description }} </br>
                User: <a href="{% url 'profile' photo.creator.username %}">{{ photo.creator.username }}</a> </br>
                Album: <a href="{% url 'one_album' photo.creator.username photo.album.id %}">{{ photo.album.title }}</a> </br>
                <a href="{% url 'get_photo' photo.creator.username photo.album.id photo.id%}">Link</a>  
        
        </br>
        </li>
        {% endfor %}
    </ul> 
    {% else %}
    <p>No results</p>
    {% endif %}
{% endblock %}
