{% load humanize %}
{% load el_pagination_tags %}
{% paginate users using 'search_users_page' %}
    <ul class="list-group list-group-flush">  
            {% for user in users %}
            <li class="list-group-item">
                <p>Username: <a href="{{ user.get_absolute_url }}">{{ user.username }}</a></p>
                <p>Date joined: {{ user.date_joined | naturalday }}</p>
                <p>Albums: <a href="{% url 'all_albums' user.username %}"> {{ user.albums.count }}</a></p>
                <p>Followers:<a href="{% url 'followers' user.username %}"> {{ user.followers.count }}</a></p>
            </li>
        </br>
            {% endfor %}
</ul>
{% show_more "Load more" %}
